<div id="app">
  <p-menubar [model]="items">
    <ng-template pTemplate="start"> 
        <img src="../assets/logo/logo.png" height="40" class="mr-2">
        <a href="#" class="navbar-brand">Authstrap</a> 
    </ng-template>
    <ng-template pTemplate="end">
 
      <input type="text" pInputText placeholder="Search" />
      <label> 
        <p-tieredMenu #menu [model]="itemsRight"  [popup]="true"></p-tieredMenu>
        <a class="nav-link" (click)="menu.toggle($event)">
          <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
          {{ username }} </a>
      </label> 
    </ng-template>
  </p-menubar> 
   
 <!-- <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb> 
-->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>